    </div>
  </body>
</html>
    <script>
    $( document ).ready(function() {
    $('.leftmenutrigger').on('click', function(e) {
    $('.side-nav').toggleClass("open");
    e.preventDefault();
    });
    });
    </script>